<template name="TransactionsGhTransactions">
	<section id="content">

        <!--start container-->
        <div class="container">

            <!--chart dashboard start-->
            <div id="chart-dashboard">
                <div class="row">
					<div class="col s12 m12 l12">
		{{> TransactionsGhTransactionsGhTransView}}
					</div>
                </div>
            </div>
		</div>
    </section>
</template>

<template name="TransactionsGhTransactionsGhTransView">
	<div id="transactions-gh-transactions-gh-trans-view" class="card-panel">
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}
		{{#if isFound}}
				<div>
				</div>
				{{else}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}
	{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> TransactionsGhTransactionsGhTransViewTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
	</div>
</template>

<template name="TransactionsGhTransactionsGhTransViewTable">
	<table id="dataview-table" class="table table-striped">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="gh">
					GH
				</th>
				<th class="th-sortable" data-sort="ph">
					PH
				</th>
				<th class="th-sortable" data-sort="status">
					Status
				</th>
				<th class="th-sortable" data-sort="amount">
					Amount
				</th>
				<th class="th-sortable" data-sort="timer">
					Expire Date
				</th>
				<th class="th-sortable" data-sort="canceled">
					Canceled
				</th>
				<th class="th-sortable" data-sort="completed">
					Completed
				</th>
				<th class="th-sortable" data-sort="proof">
					Proof
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> TransactionsGhTransactionsGhTransViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="TransactionsGhTransactionsGhTransViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{gh}}
		</td>
		<td>
			{{ph}}
		</td>
		<td>
			{{status}}
		</td>
		<td>
			{{amount}}
		</td>
		<td>
			{{formatDate timer ''}}
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="canceled" {{checked canceled}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="completed" {{checked completed}}>
		</td>
		<td>
			{{proof}}
		</td>
	</tr>
</template>

