<template name="MemberUpdatePersonalDetails">
	<!-- START CONTENT -->
    <section id="content">

        <!--start container-->
        <div class="container">

            <!--chart dashboard start-->
            <div id="chart-dashboard">
                <div class="row">
					<div class="col s12 m12 l12">
						{{> MemberUpdatePersonalDetailsEditForm}}
					</div>
                </div>
            </div>
		</div>
    </section>
</template>

<template name="MemberUpdatePersonalDetailsEditForm">
	<div id="member-update-personal-details-edit-form" class="card-panel">
		<h2 id="component-title">
			Edit your personal details
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-profile-fname">
				<label for="profile.fname">
					Firstname
				</label>
				<div class="input-div">
					<input type="text" name="profile.fname" value="{{current_user_data.profile.fname}}" class="form-control " autofocus="autofocus" required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-profile-lname">
				<label for="profile.lname">
					Lastname
				</label>
				<div class="input-div">
					<input type="text" name="profile.lname" value="{{current_user_data.profile.lname}}" class="form-control " required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-profile-email">
				<label for="profile.email">
					E-mail
				</label>
				<div class="input-div">
					<input type="text" name="profile.email" value="{{current_user_data.profile.email}}" class="form-control " required="required" data-type="email">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-profile-phone">
				<label for="profile.phone">
					Phone number
				</label>
				<div class="input-div">
					<input type="text" name="profile.phone" value="{{current_user_data.profile.phone}}" class="form-control " required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-profile-address">
				<label for="profile.address">
					Address
				</label>
				<div class="input-div">
					<input type="text" name="profile.address" value="{{current_user_data.profile.address}}" class="form-control " required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Update
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

