<template name="Home">
	<div id="index-banner" class="parallax-container">
		<div class="section no-pad-bot">
			<div class="container">
				<br><br>
				<h1 class="header center teal-text text-lighten-2">FundsHubOffice</h1>
				<div class="row center">
					<h5 class="header col s12 light">Welcome to FundsHubOffice</h5>
				</div>
				<div class="row center">
					{{>SmallLogin}}
				</div>
				<!--<div class="row center">
          <p class="header col s12 light">OR</p>
				</div>
				<div class="row center">
				<a href="{{pathFor 'register'}}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
				</div>
				-->
				<br><br>

			</div>
		</div>

		<div class="parallax"><img src="../images/background1.jpg" alt="Unsplashed background img 1"></div>
	</div>

	<div class="container">
		<div class="section">

			<!--   Icon Section   -->
			<div class="row">
				<div class="col s12 center">
					<h3><i class="mdi-content-send brown-text"></i></h3>
					<h4>Testimonies</h4>
					{{>AllTestament}}
				</div>
			</div>

		</div>
	</div>

<div class="parallax-container valign-wrapper">
		<div class="section no-pad-bot">
			<div class="container">
				<div class="row center">
					<h5 class="header col s12 light"></h5>
				</div>
			</div>
		</div>
		<div class="parallax"><img src="../images/background3.jpg" alt="Unsplashed background img 3"></div>
	</div>
	
	<div class="container">
		<div class="section">

			<div class="row">
				<div class="col s12 center">
					<h3><i class="mdi-content-send brown-text"></i></h3>
					<h4>ABOUT</h4>
					<p class="left-align light"> Live nd die in africa: FundsHub is a mutual aid community managed by volunteers who are also participant in the community. It is a unique financial freedom home which takes a very different approach to online investments. FundsHub is a community where people instantly receive donations within 3 to7 days from other members after providing help on the principle of amity, reciprocity and benevolence. 100% of all donations go directly from one member to another.</p>
					<br />
					<h5>How It Works</h5>
					<p class="left-align light">
						When you register, you are expected to donate (PH) the sum of either N25000,  N50000, N100000 or N200000 to a fellow member assigned to you by the system, after your donation the member will then confirm you, automatically the system assigns 2 other registered members  who will also pay you the same amount each into your bank account summing up to 100% of your initial donation.
					</p>
				</div>
			</div>

		</div>
	</div>


	<div class="parallax-container valign-wrapper">
		<div class="section no-pad-bot">
			<div class="container">
				<div class="row center">
					<h5 class="header col s12 light"></h5>
				</div>
			</div>
		</div>
		<div class="parallax"><img src="../images/background3.jpg" alt="Unsplashed background img 3"></div>
	</div>

</template>

<template name="AllTestament">
	<div class="carousel">
		{{#if tetsaments}} {{#each testaments}} {{ItemTestament}} {{/each}} {{/if}}
	</div>
</template>
<template name="ItemTestament">
	<div class="carousel-item col s12 m8 offset-m2 l6 offset-l3">
		<div class="card-panel grey lighten-5 z-depth-1">
			<div class="row valign-wrapper">
				<div class="col s2">
					<img src="images/yuna.jpg" alt="" class="circle responsive-img">
					<!-- notice the "circle" class -->
				</div>
				<div class="col s10">
					<span class="black-text">
                This is a square image. Add the "circle" class to it to make it appear circular.
              </span>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="AboutUs">
</template>

<template name="SmallLogin">
	<!-- Inline Form -->
	<div class="row">
		<form class="col s12" id="login_form" role="form">
			<div class="row">
				<div class="input-field col s4  offset-s2">
					<i class="mdi-action-account-circle prefix"></i>
					<input id="login_email" type="email" class="validate">
					<label for="icon_prefix">Email</label>
				</div>
				<div class="input-field col s4">
					<i class="mdi-action-lock-outline prefix"></i>
					<input id="login_password" type="password" class="validate">
					<label for="icon_password">Password</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<div class="input-field col s12">
						<button class="btn cyan waves-effect waves-light" id="submit" type="submit" name="action"><i class="mdi-action-lock-open"></i> Login</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</template>