<template name="FooterMain">
    <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">FundsHubOffice</h5>
          <p class="grey-text text-lighten-4">Crazy cool design dont you think.</p>


    </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Home</a></li>
            <li><a class="white-text" href="#!">Testimony</a></li>
            <li><a class="white-text" href="#!">About</a></li>
            <li><a class="white-text" href="#!">Support</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Youtube</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      All Rights Reserved <b>FundsHubOffice</b>
      </div>
    </div>
    </footer>
</template>
