<template name="MemberUpdateBankDetails">
	
	<!-- START CONTENT -->
    <section id="content">

        <!--start container-->
        <div class="container">

            <!--chart dashboard start-->
            <div id="chart-dashboard">
                <div class="row">
					<div class="col s12 m12 l12">
						{{> MemberUpdateBankDetailsBankDetailsForm}}
					</div>
                </div>
            </div>
		</div>
    </section>
</template>

<template name="MemberUpdateBankDetailsBankDetailsForm">
	<div id="member-update-bank-details-bank-details-form" class="card-panel">
		<h2 id="component-title">
			Bank Update Form
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-bank_name">
				<label for="bank_name">
					Bank Name
				</label>
				<div class="input-div">
					<input type="text" name="bank_name" value="{{current_user_data.bank_name}}" class="form-control " autofocus="autofocus" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-account_name">
				<label for="account_name">
					Account Name
				</label>
				<div class="input-div">
					<input type="text" name="account_name" value="{{current_user_data.account_name}}" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-account_number">
				<label for="account_number">
					Account Number
				</label>
				<div class="input-div">
					<input type="text" name="account_number" value="{{current_user_data.account_number}}" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
				</div>
			</div>
		</form>
	</div>
</template>

