<template name="Dashboard">
    <!-- START CONTENT -->
    <section id="content">

        <!--start container-->
        <div class="container">

            <!--chart dashboard start-->
            <div id="chart-dashboard">
                <div class="row">
                    <div class="col s12 m8 l8">
                        <div class="card">
                            <div class="card-move-up waves-effect waves-block waves-light">
                                <div class="move-up cyan darken-1">
                                    <div>
                                        <span class="chart-title white-text">Welcome to FundsHubOffice</span>
                                        
                                    </div>
                                    <div class="trending-line-chart-wrapper">
                                        <canvas id="trending-line-chart" height="1">
                                            
                                        </canvas>
                                        <p class="flow-text">This is a community of mutual financial help, participate only with spare money,
                                                do not contribute all the money you have</p>
                                        <canvas id="trending-line-chart" height="4">
                                            
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i class="mdi-content-add activator"></i></a>

                                <div>
                                    <br />
                                    <br />
                                    <br />
                                    <div class="input-field inline">
                                <input type="text" id="refId">
                                <label for="refId">Your referral link</label>
                                <button data-clipboard-target="#refId" class="waves-effect waves-light  btn">Copy</button>
                            </div>

                                </div>
                            </div>

                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Revenue by Month <i class="mdi-navigation-close right"></i></span>

                            </div>


                        </div>
                        <div class="card-panel">
                            <h4>REQUEST TO PROVIDE HELP</h4>
                            <div class="input-field inline">
                                <p>AMOUNT:  Bronze - ₦ 20,000 </p>
                            </div>
                            <!-- Wait patiently to be automatically matched with other participants to provide help.-->

                            <div class="input-field inline">
                                <p>STATUS:  Wait patiently to be matched to another participant </p>
                            </div>
                        </div>
                        <div class="card-panel">
                            
                            <!-- Wait patiently to be automatically matched with other participants to provide help.-->
                                <h4>REQUEST TO PROVIDE HELP</h4>
                                <div class="input-field inline">
                                    <p>AMOUNT:  Bronze - ₦ 20,000 </p>
                                </div>
                                <p>To </p>
                                <div class="input-field inline">
                                    <p>NAME:  Bronze - ₦ 20,000 </p>
                                </div>
                                <div class="input-field inline">
                                    <p>PHONE:  Bronze - ₦ 20,000 </p>
                                </div>
                                <div class="input-field inline">
                                    <p>STATUS:  Wait patiently to be matched to another participant </p>
                                </div>
                            <div class="col s3 m3 l2">
                             </div>
                        </div>
                    </div>

                    <div class="col s12 m6 l4">
                        <div id="profile-card" class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="images/user-bg.jpg" alt="user background">
                            </div>
                            <div class="card-content">
                                <img src="images/avatar.jpg" alt="" class="circle responsive-img activator card-profile-image">
                                <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
                                    <i class="mdi-editor-mode-edit"></i>
                                </a>

                                <span class="card-title activator grey-text text-darken-4">{{userFullName}}</span>
                                <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>{{userStatus}}</p>
                                <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> {{userPhone}}</p>
                                <p><i class="mdi-communication-email cyan-text text-darken-2"></i> {{userEmail}}</p>

                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{userFullName}} <i class="mdi-navigation-close right"></i></span>
                                <p>Your profile details.</p>
                                <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> {{userStatus}}</p>
                                <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> {{userPhone}}</p>
                                <p><i class="mdi-communication-email cyan-text text-darken-2"></i> {{userEmail}}</p>
                                <p><i class="mdi-social-cake cyan-text text-darken-2"></i> {{userBank}}</p>
                                <p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> {{userAccountName}}</p>
                                <p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> {{userAccountNumber}}</p>
                            </div>
                        </div>

                        <div class="card-panel">
                            <button data-target="modal1" class="modal-trigger waves-effect waves-light  btn">Provide Help</button>
                        </div>


                        <div>
                            <ul id="task-card" class="collection with-header">
                            <li class="collection-header cyan">
                                <h4 class="task-card-title">Personal Details</h4>
                                <p class="task-card-date">Quick Links</p>
                            </li>
                            <a href="{{pathFor 'member.update_personal_details'}}" class="collection-item">Update Personal details</a>
                            <a href="{{pathFor 'member.update_bank_details'}}" class="collection-item">Update Bank Account</a>
                            <a href="{{pathFor 'member.transactions'}}" class="collection-item">View transaction history</a>
                            <a href="{{pathFor 'referrals'}}" class="collection-item">View Referrals</a>
                        </ul>
                        </div>

                        <!-- Modals-->

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal modal-fixed-footer">
                            <div class="modal-content">
                                <h4>Provide Help</h4>
                                <p>Please choose a provide help package, you will be assigned to a participant and given just
                                    24hrs to provide help.</p>
                                    <br />
                                    <br />
                                <div>
                                    <div class="input-field inline">
                                        <select id="package">
                                    <option value="">Select Pacakge</option>
                                    <option value="">Bronze - N25,000</option>
                                    <option value="">Silver - N50,000</option>
                                    <option value="">Gold - N100,000</option>
                                </select>
                                        <label for="package">Select Package</label>
                                    </div>
                                    <br />
                                    <div class="input-field ">
                                        <p>
                                            <input type="checkbox" id="agreeSelect" />
                                            <label for="test5">I agree to participate in monibox being of clear and sound mind. I am sure I want to provide help and I agree to provide help to the participant that will be assigned to me.</label>
                                            </p>
                                    </div>

                                    <br />
                                    <p>"Do not provide help on weekends if you do not use internet banking or mobile transfer, you will be given 24hrs to make payment. if you cannot use mobile transfer or internet banking, please only provide help on week days"</p>

                                    
                                </div>
                                <br />
                                <br />
                            </div>
                            <div class="modal-footer">
                                <a href="#!" id="closeModal" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>
</template>